.tituloAviso  {
    background: var(--bg-institucional);
    color: #fff;
    height: 7rem;
    text-transform: uppercase;
    font-weight: normal;
	position:relative;
}


.contenido {
    height: 12.7rem;
    position: relative;
}
.tituloAviso h3{
    padding: 1rem;
    align-items: center;
    display: grid;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.tituloAviso i {
    position: absolute;
    bottom: -19px;
    color: var(--bg-institucional);
    font-size: 2rem;
    left: 1rem;
}

.avisos {
	 background: var(--bg-secundario);
}

#home .avisos .imgAviso{
	display:none;
}
#home .avisos .textoAviso{
	display:none;
}
.descripcionAviso {
	padding:1rem;
}



#home .avisos .btn {
    position: absolute;
    padding: 1rem;
    color: var(--color-institucional);
    bottom: 0;
    right: 0;
}
.fecha {
    margin: 1rem 0;
    text-align: right;
}

.avisoDetalle iframe{
	min-height:45rem;
}

