html{font-size:var(--font-size-root);}

body{
	background:var(--bg-primario);
	color:var(--color-primario);
	font-family:var(--font-family);
	margin: 0;
	overflow-x:hidden;
	font-size:var(--font-size-body);
}

body.estado_offline {
	padding-top: 52px;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#home .sgsection-main_container .sgsection-main_wrapper .sgsection-columna, #home .sgrow-columna.col_lg-12.visibilidadColumnaFila-always {
    padding: 0;
}
section#main{background:var(--bg-secundario); padding:0;}
section#main .sgsection-main_container {padding:2.5rem;}

h1 {
    margin: 0 0 1.12rem;
    padding: 0;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1;
}
h2 {
    font-size: 1rem;
}
.alerta-baja{
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 1rem;
    display: block;
}

a{color:var(--color-institucional);text-decoration:none;}
a:hover{color:var(--color-institucional);}

.vjs-poster{
    background-size: contain;
}
.list-group-item.active a {
    background: var(--bg-institucional) !important;
    color: #fff !important;
    border: 1px solid var(--bg-institucional) !important;
}

@media (max-width: 767px) {
	section#main .sgsection-main_container{padding:1rem!important;}
}
