footer {background:var(--bg-institucional);color:var(--color-secundario);}
footer .buscador {display: none;}
footer nav{background:none;}
footer nav a i {color:var(--color-secundario);}
footer ul li {list-style:none;}
footer ul li a {font-size:var(--font-size-body); color:var(--color-secundario)!important;}
footer ul li ul li a {font-size:var(--font-size-body)!important;}
footer li.dropdown > a{font-size:1.06rem; text-transform:uppercase; margin-top: 0.93rem;}
footer .dropdown-menu {border: 0;background: none;color:var(--color-secundario);position:relative!important;    transform: translate(0px, 0px)!important;}
.btn-suscripcion{background: #dddc12; font-weight:600; font-size:1.06rem;color: #333; padding: 0.31rem 0.62rem;}
footer .col-redes a {text-decoration: none;}
footer .col-redes nav {margin-bottom: 5rem;}
footer .col-redes,footer .col-redes i {font-size: 1.12rem;}
footer ul li a:hover {background: none!important;font-weight: bold;
}
@media (min-width: 992px) { 
	.btn-suscripcion span{display:none;}
}
@media (max-width: 991.98px) { 
	footer .col-redes nav {margin-bottom: 1rem;flex-direction: column;}
	footer #nav2.navbar-nav {flex-direction:row;}
	footer ul li {list-style: none;padding:0  0.8rem;}
	footer #nav2 a.nav-link i {font-size: 1.5rem;}
	footer .col-redes nav {margin-bottom: 0.2rem;}
	footer .titfooter{text-align: center;}
	.btn-suscripcion{text-align: center;margin: 0 auto;max-width: 22rem;display: block;}
}


