/*Nav Principal*/
nav {background:var(--bg-secundario); font-size:var(--font-size-body); }
nav .dropstart .dropdown-toggle::before{transform:rotate(-90deg);}
nav .dropstart ul > li > a {font-size: 12px!important;}
#navTop li a {font-size:var(--font-size-body);text-transform: uppercase!important;color:var(--color-primario)!important;}
#navTop  li a:hover {color: var(--color-nav-hover)!important;background-color:var(--bg-nav-hover)!important;}
nav a.dropdown-item {font-size:var(--font-size-body);padding: 0.18rem 1,25rem;}
nav .dropdown li {padding:0;}
nav .dropstart .dropdown-menu {position:static!important;background-color: var(--bg-subdropdown);border: 0;border-radius: 0;font-size:var(--font-size-body);padding: 0;}
#navTop .navbar-toggler {position: absolute;right: 1rem;top: -3rem;z-index: 2;}

@media (max-width: 991.98px) { 
	#navTop a.nav-link {text-align: center;}
	#navTop li {border-bottom: 1px solid #ddd;text-align: center;}	
}	


/*Nav Redes*/
#nav2 .dropdown-menu {right: 0;left: auto;border:0;}
#nav2 .dropdown-menu input {border:0;}
#nav2 .dropdown-menu button {border: 0;BACKGROUND: 0;padding: 0.62rem;}

@media (max-width: 991.98px) { 
	#nav2 .dropdown-toggle{display:none;}
	#nav2 .dropdown-menu{display: block;}
	#nav2 .input-group.busquedaPortada {border: 1px solid #888;}
}
/*Nav Parlamentaria*/

#navParlamentaria{background:var(--bg-institucional);padding:0;}
#navParlamentaria li>a:focus, #navParlamentaria li>a:hover {text-decoration: none;background-color: var(--bg-institucional-hover); }
#navParlamentaria li a {font-size: 1.06rem;color:var(--color-secundario);text-align:center;padding:0.93rem;   }
#navParlamentaria  ul li + li:after {content: ' ';display: block;height: 60%;width: 1px;background-color: #fff;position: absolute;top: 0.62rem;}

