.articulo .listaEnlaces h2 i {
    color: var(--color-institucional);
    font-size: 0.9rem;
    vertical-align: middle;
}
.articulo .listaEnlaces h2 {
    font-weight:bold;
}
.articulo .listaEnlaces a {
    color: var(--color-primary);
    text-decoration: none;
}
.articulo .listaEnlaces a:hover {
    font-weight:bold;
}
.articulo .listaEnlaces li {
    list-style:none;
}
.articulo .PDFArticulo{height:62.5rem; width:100%; }
.articulo .nota {border:1px solid #ccc; margin:1rem 0; padding:1rem; float:left; width:100%;}

.articulo .btn.btn-institucional {
    background: var(--bg-institucional);
	 color: var(--color-secundario);
    text-decoration: none;
	
}
.articulo .btn-right{    
	display: inline;
    float: right;
	
}

.articulo .btn{
	margin: 0 0.5rem;
}

.secparl .listaEnlaces li {
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
}

.secparl .listaEnlaces li a {
   color:#444;
}

.salones{

}

.salones .accordion img {
    width: 70%;
    margin: 0 auto;
}

.salones .accordion .accordion-button {
    font-weight: normal;
    padding: 1rem;
    font-size: 1rem;
    color: #333;
}

.salones .accordion .accordion-button:not(.collapsed)::after {
    background-image: var(--bg-icon-accordeon);
    transition: transform 0.2s ease-in-out;
}

.salones .accordion .accordion-button:not(.collapsed) {
    color: var(--color-institucional);
    background: none;
    box-shadow: none;
    font-weight: bold;
	border-bottom: 1px solid #ddd!important;
    border: 0;
}
.congresoExplicado {
	width:20rem;
	margin:0 auto;
}
.congresoExplicado > div {
	text-align:center;
}
.congresoExplicado .video-js {
	width:16rem!important;
	height:16rem!important;
}

.video-js{
	margin: 1rem 0;
}
@media (max-width: 768px){
	.salones .accordion img {
		width: 100%;
	}
}

