header{background:var(--bg-secundario); padding-top:0.62rem;}
header img.logoDemocracia {width:12rem; margin-right: 3.75rem; margin-top: 0.7rem;}
header img.logoHCDN {width: 5.62rem;}
header img {z-index: 1;position: relative;}

@media (min-width: 992px) { 
	header img {margin-bottom: -2.5rem;}
}
@media (max-width: 575.98px) {
	header {padding-left: 1rem;padding-top: 1rem;}
	header img.logoDemocracia {
		width: 8rem;
		margin-right: 0.75rem;
		margin-top: 0.7rem;
	}
	header img.logoHCDN {
		width: 4.3rem;
	}
}



