.paginador {
    border-top: 1px solid #ccc;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
	margin: 1rem 0.2rem
}
.paginador ul {display:block; text-align: right; margin:0; padding:0;}
.paginador ul li {display:inline-block;}

.textoPaginador span {
    font-weight: normal;
}
.textoPaginador {
    font-weight: bold;
    font-size: 1rem;
	padding:0;
}
.paginador li a {
    margin: 0 0.3rem;
    color: var(--color-primario);
}
.paginador .active a {
    color: var(--color-institucional);
    font-weight: bold;
}