table thead tr th, table thead  {
    background:var(--bg-tables-th);
    color: var(--color-secundario);
    font-weight: normal;
    font-size:var(--font-size-body);
}

table th, table td {
    vertical-align: middle!important;
	font-size:0.81rem;
}

table td a {
	color: var(--color-primario);
	text-decoration:none;
}
table td a:hover {
	color: var(--color-institucional);
	text-decoration:none;
	font-weight:bold;
}
table td a:hover {
	font-weight:bold;
}

table td h5 {
    font-size: 0.9rem;
	margin-top: 0.5rem;
}

div#tablesorter_wrapper {
    grid-template-areas:
        "buscar registro"
        "tabla tabla"
		"info info"
		"paginador paginador";
    display: grid;
	gap:1rem;
}

div#tablesorter_filter {
    grid-area: buscar;
}
div#tablesorter_filter input {
	border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.3rem;
    color: #333;
}
div#tablesorter_length {
    grid-area: registro;
    align-self: end;
    text-align: end;
}
a.paginate_button {
    border: 1px solid #ddd;
    padding: 0.4rem 0.8rem;
    margin-left: 0.2rem;
}
table#tablesorter {
    grid-area: tabla;
}
div#tablesorter_paginate {
    text-align: right;
    margin-top: 1rem;
}
a.paginate_button.current {
    background: #666;
    color: #fff;
}
 div#tablesorter_length select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.3rem;
    color: #333;
}
div#tablesorter_info {
	grid-area:info;
    text-align: right;
    width: 100%;
    display: block;
    display: grid;
}

div#tablesorter_paginate {
    grid-area: paginador;
	cursor: pointer;
}
